<div
  class="modal fade"
  id="backToStartModal"
  tabindex="-1"
  aria-labelledby="backToStartModal"
  aria-hidden="true"
  data-bs-backdrop="static"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 lead" id="backToStartModal">
          Возврат на старт
        </h1>
      </div>
      <div class="modal-body text-center">
        <div class="h4">Вы вернулись в начало 😓</div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          id="backtostart_accept"
        >
          Понятно
        </button>
      </div>
    </div>
  </div>
</div>
