<div
  class="modal fade"
  id="goToStartModal"
  tabindex="-1"
  aria-labelledby="goToStartModal"
  aria-hidden="true"
  data-bs-backdrop="static"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 lead" id="goToStartModal">Вперед на старт</h1>
      </div>
      <div class="modal-body text-center">
        <div class="h4">Вам повезло и вы переходите на новый круг 🎉</div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          id="gotostart_accept"
        >
          Перейти
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="StartModal"
  tabindex="-1"
  aria-labelledby="StartModal"
  aria-hidden="true"
  data-bs-backdrop="static"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 lead" id="StartModal">Старт</h1>
      </div>
      <div class="modal-body text-center">
        <div class="h4" id="startBodyText">Вы перешли на новый круг 🎉</div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          id="start_accept"
        >
          Далее
        </button>
      </div>
    </div>
  </div>
</div>
