<div
  class="modal fade"
  id="newLevelModal"
  tabindex="-1"
  aria-labelledby="newLevelModal"
  aria-hidden="true"
  data-bs-backdrop="static"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 lead" id="newLevelModal">
          Новый уровень 
        </h1>
      </div>
      <div class="modal-body">
        <div class="fs-3" id="new_level_income"></div>
        <div class="card-body" id="new_level_actions"></div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          id="new_level_accept"
        >
          Спасибо
        </button>
      </div>
    </div>
  </div>
</div>
