<div
  class="modal fade"
  id="randomMoveModal"
  tabindex="-1"
  aria-labelledby="randomMoveModal"
  aria-hidden="true"
  data-bs-backdrop="static"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 lead" id="randomMoveModal">Повтор хода</h1>
      </div>
      <div class="modal-body text-center">
        <div class="h4">Пора снова бросить кубики 👉🏻</div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          id="randommove_accept"
        >
          Бросить кубики 🎲
        </button>
      </div>
    </div>
  </div>
</div>
