<div 
  class="modal fade rules-modal" 
  id="rulesModal" 
  tabindex="-1" 
  aria-labelledby="rulesModal" 
  aria-hidden="true"
  data-bs-backdrop="static" 
  style="z-index: 1000001;"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 lead" id="rulesModal">
          Правила
        </h1>
      </div>
      <div class="modal-body m-3">
        
          <p><b>Игра Командный Бизнес</b> по своей форме похожа на игру в Монополию, но имеет более приближенную к реальной жизни концепцию и правила.</p>

          <p>Каждый круг, совершенный игроком символизирует бизнес год и скорость его завершения индивидуальна, зависит от личной удачи Игрока, который кидает кубики для совершения ходов.</p>

          <p>Игра завершается, когда один из игроков завершит 20 кругов (аналог 20 лет занятия бизнесом).</p>

          <p>Завершая круг, могут наступать следующие события:</p>
          <ul>
            <li>Игрок имеет Личный доход, который увеличивается первые 10 лет и снижается вплоть до убытков. (Аналог растущей зп специалиста и перехода на самостоятельный доход, при повышении уровня расходов на жизнь)</li>
            <li>Имеет 10% вероятность инфляции (Остается половина личных денег)</li>
            <li>Получает 20% Дохода от Бизнесов КБ, в которых Администратор. И 100% Дохода от Бизнесов, в которых Владелец. В обеих случаях покрывает 100% расходов в случае убытка</li>
            <li>Получает доход с Бизнесов, в которых имеет пассивную Долю</li>
          </ul>
          <p>Поле построено таким образом, что предсказать завершение круга сложно, игрок может как сильно уйти далеко, так и вернуться назад.</p>
          <p>В игре существует Банк (Поле КБ), 200 0000 в который вложил пассивный <b>игрок Х</b>. Став на это поле, мы можем стать соинвесторами КБ и путем голосования распоряжаться средствами Банка КБ. После этого события докладывать деньги в КБ можно на любом своем ходу. Также на своем ходу можно продать Долю в Командном Бизнесе.
          </p>

          <p>Став на Зеленое поле, игрок может стать Владельцем бизнеса из указанной категории, купив его за Личные средства. Либо стать его Администратором, предложив участникам Банка КБ купить его за общие деньги:</p>
          <ul>
            <li>В коротком обращении, сформулировать идею бизнеса для голосования другими членами КБ</li>
            <li>Участники Командного Бизнеса большинством голосов утверждают покупку (1 игрок - 1 голос)</li>
            <li>Администратор получает 20% от дохода Бизнеса и 100% дохода от своей доли</li>
            <li>Администратор должен возместить ущерб, если Бизнес показал убыточность</li>
          </ul>

          <p>Игрок может иметь отрицательный Баланс до окончания игры без процентов. Но не может покупать Бизнесы в Кредит.</p>

          <p>Бизнес</p>
          <ul>
            <li>Бизнеса год заканчивается, как только Администратор дошел до поля Start</li>
            <li>У каждого бизнеса есть свой случайный диапазон рентабельности</li>
            <li>Каждый год есть 7% вероятности банкротства (Происходит ликвидация, 30% от стоимости Бизнеса возвращается собственнику)</li>
            <li>Бизнес можно продать в любой момент за стоимость Покупки</li>
          </ul>

        </div>
      <div class="modal-footer">
        <button 
          type="button" 
          class="btn btn-danger" 
          data-bs-dismiss="modal"
        >
          Закрыть
        </button>
      </div>
    </div>
  </div>
</div>
