
{% load static %}

<div 
  class="modal fade rules-modal" 
  id="rulesModal" 
  tabindex="-1" 
  aria-labelledby="rulesModal" 
  aria-hidden="true"
  data-bs-backdrop="static" 
  style="z-index: 1000001;"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 lead" id="rulesModal">
          Правила
        </h1>
      </div>
      <div class="modal-body m-3">

        <h5 class="fw-bold">Командный бизнес</h5>
        
          <p>Игра дает возможность использовать различные финансовые стратегии, инвестируя, управляя рисками и стремясь к максимальному успеху проведя 20 лет в мире бизнеса.</p>

          <p>Управления игрой происходит через панель в смартфоне, а игровое поле отражается на отдельном общем экране.</p>

          <img
            src="{% static 'game/img/dashboard_demo.png' %}"
            alt="dashboard-demo"
            class="mb-2 img-fluid"
          />

        <h5 class="fw-bold">Старт</h5>

          <p>Игроки начинают с поля Старт и личным капиталом в 60 000. Каждый круг, совершенный игроком символизирует бизнес год и скорость его завершения индивидуальна, зависит от личной удачи Игрока, который кидает кубики для совершения ходов. Игрок может иметь отрицательный Баланс, но не может покупать в долг.</p>

        <h5 class="fw-bold">Завершение круга</h5>

          <p>Бизнес год завершается прохождением поля Старт. Подводятся финансовые результаты года:</p>
          <ul>
            <li>Личный доход, который начинается с 5000 в 1-год, растет до 23300 на 10-й год и уменьшается до убытков в 29200 на 20-й год.</li>
            <li>Год имеет 10% вероятность инфляции (Если она наступает, сгорает 50% личных денег).</li>
            <li>Получает 20% Дохода от Бизнесов КБ, как Администратор. И 100% Дохода от Бизнесов, в которых Владелец. В случаях убытка Игрок покрывает 100% расходов.</li>
            <li>Получает доход с Бизнесов, в которых имеет пассивную Долю.</li>
          </ul>
          <p>Поле построено таким образом, что предсказать завершение круга сложно, игрок может как сильно уйти далеко, так и вернуться назад.</p>
          <p>В игре существует Банк (Поле КБ), 200 0000 в который вложил пассивный <b>игрок Х</b>. Став на это поле, мы можем стать соинвесторами КБ и путем голосования распоряжаться средствами Банка КБ. После этого события докладывать деньги в КБ можно на любом своем ходу. Также на своем ходу можно продать Долю в Командном Бизнесе.
          </p>

        <h5 class="fw-bold">Бизнес</h5>

          <ul>
            <li>Попав на зеленое поле можно купить Бизнес. Поля <b>Realty, IT, HoReCa, Science</b> позволяют купить бизнес одного из направлений. Попав на поле <b>All</b> можно купить любой бизнес.</li>
            <li>Результаты работы бизнеса подводятся в начале нового Круга.</li>
            <li>У каждого бизнеса есть свой случайный диапазон рентабельности.</li>
            <li>Ежегодно есть 7% вероятности банкротства (Происходит ликвидация, при которой 30% от стоимости Бизнеса возвращается собственнику).</li>
            <li>Бизнес можно продать в любой момент cо штрафом 5% от стоимости.</li>
          </ul>

        <h5 class="fw-bold">Командный Бизнес ABP</h5>

          <p>В игре существует Инвестиционный Клуб “Командный Бизнес”, 200 0000 в который вложил пассивный <b>игрок Х</b>.</p>

          <p>Став на это поле, Игрок можем стать инвестором КБ (в панели управления появится кнопка <b>Командный бизнес</b>) и путем голосования с другими активными инвесторами распоряжаться средствами клуба КБ.</p>

          <p>Увеличивать свою долю либо продавать (По 10 000, 50 000 и 100 000) можно на любом ходу из панели управления.</p>

          <p>После попадания на зеленое поле в игре, можно стать Администратором бизнеса, предложив участникам Банка КБ купить его за общие деньги:</p>
          <ul>
            <li>В коротком обращении, сформулировать идею бизнеса для голосования другими членами КБ.</li>
            <li>Участники Командного Бизнеса большинством голосов утверждают покупку (1 игрок - 1 голос).</li>
            <li>Администратор получает 20% от дохода Бизнеса и 100% дохода от своей доли.</li>
            <li>Администратор должен возместить ущерб с личного счета, если Бизнес показал убыточность.</li>
          </ul>

        <h5 class="fw-bold">Про игру Командный Бизнес</h5>

          <p>Игра является частью обучающего курса для руководителей и рядовых сотрудников, которая позволяет в игровой форме получить опыт партнерского взаимодействия и развития экосистемного мышления.</p>

          <p>Будет интересна тем, кто ищет стратегии устойчивого развития и масштабирования, желает повысить вовлеченность и самостоятельность команд, найти работающие инструменты концентрации ресурсов и установления крепких связей между членам, как одной команды, так и межкомандного взаимодействия.</p>

          <p>В зависимости от количества участников длительность игры может составлять от 2 до 5 часов, в игре присутствует ведущий, который в конце игры подводит итоги и может давать индивидуальную консультацию, помогающую лучше интегрировать новый опыт.</p>

          <p>Для игры необходим компьютер (Экран smart- телевизора) и смартфон.</p>

        </div>
      <div class="modal-footer">
        <button 
          type="button" 
          class="btn btn-danger" 
          data-bs-dismiss="modal"
        >
          Закрыть
        </button>
      </div>
    </div>
  </div>
</div>
