<div
  class="modal fade"
  id="skipMoveModal"
  tabindex="-1"
  aria-labelledby="skipMoveModal"
  aria-hidden="true"
  data-bs-backdrop="static"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 lead" id="skipMoveModal">Пустая ячейка</h1>
      </div>
      <div class="modal-body text-center">
        <div class="h4">
          Вы попали на ячейку где ничего нет. Закончите ход
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          id="skipmove_accept"
        >
          Понятно
        </button>
      </div>
    </div>
  </div>
</div>
