<div
  class="modal fade"
  id="surpriseModal"
  tabindex="-1"
  aria-labelledby="surpriseModal"
  aria-hidden="true"
  data-bs-backdrop="static"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 lead" id="surpriseModal">Сюрприз</h1>
      </div>
      <div class="modal-body text-center">
        <div class="h4" id="surprise_name_modal"></div>
        <div class="h2" id="surprise_count_modal"></div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          id="surprise_close_btn"
        >
          Спасибо
        </button>
      </div>
    </div>
  </div>
</div>
