<div 
  class="modal fade" 
  id="votionModal" 
  tabindex="-1" 
  aria-labelledby="votionModal" 
  aria-hidden="true"
  data-bs-backdrop="static" 
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 lead" id="votionModal">
          Голосование
        </h1>
      </div>
      <div class="modal-body text-center" id="votion_modal_body">
      </div>
      <div class="modal-footer">
        <button 
          type="button" 
          class="btn btn-danger" 
          data-bs-dismiss="modal"
          id="votion_btn"
        >
          Спасибо
        </button>
      </div>
    </div>
  </div>
</div>

<div 
  class="modal fade" 
  id="voteModal" 
  tabindex="-1" 
  aria-labelledby="voteModal" 
  aria-hidden="true"
  data-bs-backdrop="static" 
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 lead" id="voteModal">
          Голосование
        </h1>
      </div>
      <div class="modal-body text-center">
        <div class="h3 mt-3" id="vote_description_name">
          Какой-то игрок предлагает что-то купить за
        </div>
        <div class="mt-2 text-success" style="font-size: 2em;" id="vote_description_count">
          Неизвестная сумма
        </div>
        <div class="d-grid gap-2 p-2 mt-4">
          <button class="btn btn-success mb-3" 
          style="height: 10vh; font-size: 1.7em;" 
          type="button" 
          data-bs-dismiss="modal"
          id="vote_for_btn">
            За
          </button>
          <button class="btn btn-danger" 
          style="height: 10vh; font-size: 1.7em;"
          type="button"
          data-bs-dismiss="modal"
          id="vote_agn_btn">
            Против
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div 
  class="modal fade" 
  id="successBusinessBuyModal" 
  tabindex="-1" 
  aria-labelledby="successBusinessBuyModal" 
  aria-hidden="true"
  data-bs-backdrop="static" 
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 lead" id="successBusinessBuyModal">
          Успешная покупка бизнеса
        </h1>
      </div>
      <div class="modal-body text-center h4">
        Поздравлем с успешной покупкой бизнеса 🎉
      </div>
      <div class="modal-footer">
        <button 
          type="button" 
          class="btn btn-danger" 
          data-bs-dismiss="modal"
          id = "success-business-buy-btn"
        >
          Спасибо
        </button>
      </div>
    </div>
  </div>
</div>
