{% extends 'game/base.html' %} 
{% block content %} 
{% load static %}

<div class="d-flex justify-content-center align-items-center">
<div class="container">
  <div class="mt-5">
    <img
      src="{% static 'game/img/logo1.svg' %}"
      alt="abp-logo"
      class="card-img-top mb-2"
      style="height: 9vh"
    />
    <div class="h3 fw-bold text-center" style="color: #393939;">
      TEAM BUSINESS
    </div>
    <p class="text-center text-muted">{{ session.session_name }}</p>
    <div class="h2 text-center mt-3 mb-3">{{session.description}}</div>
  </div>
  <div class="row justify-content-md-center">

    <div class="col-xs-10 col-sm-8 col-md-6 col-lg-4">
      <div class="h5 mb-4 text-center text-muted">Подключенные игроки:</div>
      <div class="" id="sessions-players"></div>
    </div>

    <div class="col-xs-10 col-sm-8 col-md-6 col-lg-6">
        <div class="p-4 p-sm-5">
          
          <!-- QR code -->
          <div class="d-flex justify-content-center align-items-center mb-3">
            <div class="h4">
              Для начала игры отсканируйте QR код:
            </div>
            <div class="qr-code-placeholder">
              <img
                src="data:image/png;base64,{{ qr_code_base64 }}"
                alt="QR-code-placeholder"
                style="height: 22vh"
              />
            </div>           
          </div>
          <div class="mb-5">
            <div class="h4">Или перешлите эту ссылку игрокам, чтоб они перешли по ней для подключения к игре:</div>
            <div class="h5 text-center text-muted">http://{{ request.get_host }}/s/{{ session.session_hash }}</div>
          </div>
          <!-- QR code end -->

          <!-- Players -->
          <!-- <div class="row">
            <div class="col-10 mx-auto mb-2">
              <div class="h4 mb-4">Подключенные игроки:</div>
              <div class="" id="sessions-players"></div>
            </div>
          </div> -->
          <!-- Players end -->

          <!-- Game settings -->
          <div class="d-grid mb-3 col-lg-8 mx-auto">
            <a
              class="btn btn-lg btn-danger mb-2"
              type="button"
              href="/dashboard/"
            >
              ИГРАТЬ
            </a>
            <a
              class="btn btn-lg btn-outline-danger"
              type="button"
              href="/memory_setup/"
            >
              Настройки
            </a>
          </div>
          <!-- Game setting end -->

        </div>
    </div>
    
  </div>  
</div>
</div>

<script src="{% static 'game/js/session/control.js' %}"></script>

{% endblock %}
