<template id="business-card-template">
  <div class="card business-card text-center mb-3">
    <div class="card-header text-secondary">Категория бизнеса</div>

    <div class="card-body">
      <div class="card-title h4 mb-2">Название бизнеса</div>
      <p class="card-text text-muted">Рентабольность от -15% до 20%</p> 
      <div class="card-body row justify-content-center">
        <div class="col mx-2 card-history ">
            <div class="text-start">История платежей</div>
        </div>
      </div>
      <div class="text-center d-grid gap-2 col mx-auto">
        <button
          type="button"
          class="btn btn-outline-danger action-button"
          data-bs-toggle="modal"
          data-bs-target="#AreUsure"
        >
          Продать
        </button>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="AreUsure"
    tabindex="-1"
    aria-labelledby="AreUsure"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Продажа бизнеса</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
            <div class="h5"></div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-secondary"
            data-bs-dismiss="modal"
          >Отмена</button>
          <a
            href="#"
            class="btn btn-danger sell-button"
          >Продать</a>
        </div>
      </div>
    </div>
  </div>
</template>
