
<div class="d-grid gap-2 col-md-8 mx-auto mt-4 mb-5">
  <!-- New level -->
  {% include 'game/player_control/player_control_button_new_level.html' %}

  <!-- Surprise -->
  {% include 'game/player_control/player_control_button_surprise.html' %}

  <!-- Memory -->
  {% include 'game/player_control/player_control_button_memory.html' %}

  <!-- Business -->
  {% include 'game/player_control/player_control_button_business.html' %}

  <!-- If player is command -->
  {% if command_share > 0 %}
    {% include 'game/player_control/player_control_button_command_surprise.html' %}
  {% endif %}

  <!-- Command Business -->
  {% include 'game/player_control/player_control_button_command_business.html' %}

  <!-- Business cards -->
  {% for player_business in player_businesses%} 
    {% include 'game/player_control/player_control_card_business.html' %} 
  {% endfor %} 

  <a
    class="btn btn-outline-secondary mb-4"
    type="button"
    data-bs-toggle="modal"
    data-bs-target="#rulesModal"
  >
    Почитать правила
  </a>
  
</div>
