
<!-- Button -->
<a 
  class="btn btn-outline-secondary" 
  type="button" 
  data-bs-toggle="modal" 
  data-bs-target="#AreUsureCommandSurprise{{ player.id }}"
>
  <div class="row">
    <div class="col text-start">🔵</div>
    <div class="col-8">Сюрприз для КБ</div>
    <div class="col text-end">🔵</div>
  </div>        
</a>

<!-- Modal -->
<div 
  class="modal fade" 
  id="AreUsureCommandSurprise{{ player.id }}" 
  tabindex="-1" 
  aria-labelledby="AreUsureCommandSurprise{{ player.id }}" 
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
          <h1 class="modal-title fs-5">
            🔵 Командный Сюрпрайз 🔵
          </h1>
          <button 
            type="button" 
            class="btn-close" 
            data-bs-dismiss="modal" 
            aria-label="Close"
          ></button>
      </div>

      <div class="modal-body h5">
        Вы хотите вытащить карточку Сюрпрайз для Командного бизнеса?
      </div>

      <div class="modal-footer">
        <button 
          type="button" 
          class="btn btn-outline-secondary" 
          data-bs-dismiss="modal"
        >
          Отмена
        </button>
        <a 
          href="/get_surprise_{{ player.id }}cmnd/" 
          class="btn btn-danger"
          onclick="Preloader()"
        >
          Все верно
        </a> 
      </div>

    </div>
  </div>        
</div>