<!-- Button -->
<a
  class="btn btn-outline-secondary"
  type="button"
  data-bs-toggle="modal"
  data-bs-target="#AreUsureNewLevel{{ player.id }}"
>
  Новый круг
</a>

<!-- Modal -->
<div
  class="modal fade"
  id="AreUsureNewLevel{{ player.id }}"
  tabindex="-1"
  aria-labelledby="AreUsureNewLevel{{ player.id }}"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Новый круг</h1>

        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body h5">Вы готовы перейти на новый круг? 🔝</div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-secondary"
          data-bs-dismiss="modal"
        >
          Отмена
        </button>

        <a
          href="/new_level_{{player.id}}/"
          class="btn btn-danger"
          onclick="Preloader()"
        >
          Все верно
        </a>
      </div>
    </div>
  </div>
</div>
