{% extends 'game/base.html' %} 
{% load static %} 
{% block content %}

<div>
  <div
    class="row d-flex align-items-center justify-content-center"
    style="height: 90vh; width: 100%"
  >
    <div class="col-2">
      <div class="d-flex flex-column justify-content-center h-100">
        <div class="players-list" id="players_list"></div>
      </div>
    </div>

    <!-- Game field -->
    <div class="col-8" style="width: 1000px; height: 750px" id="game_field">
      <div class="grid" style="--bs-rows: 6; --bs-columns: 8; --bs-gap: 0em">
        <!-- 1 column -->
        <!-- start -->
        <div class="g-start-1" style="grid-row: 1">
          <div class="cell start-cell column-cell" id="cell-1">
            <div class="cell-text"><b>START</b></div>
          </div>
        </div>
        <div class="g-start-1" style="grid-row: 2">
          <div class="cell memory-cell column-cell" id="cell-24">
            <div class="cell-text">🧠</div>
          </div>
        </div>
        <div class="g-start-1" style="grid-row: 3">
          <div class="cell business-cell column-cell" id="cell-23">
            <div class="cell-text">IT</div>
          </div>
        </div>
        <div class="g-start-1" style="grid-row: 4">
          <div class="cell surprise-cell column-cell" id="cell-22">
            <div class="cell-text">🎈</div>
          </div>
        </div>
        <div class="g-start-1" style="grid-row: 5">
          <div class="cell random-move-cell column-cell" id="cell-21">
            <div class="cell-text">🎲🎲</div>
          </div>
        </div>
        <div class="g-start-1" style="grid-row: 6">
          <div class="cell command-surprise-l-cell column-cell" id="cell-20">
            <div class="cell-text">
              <img src="{% static 'game/img/logo1.svg' %}" alt="abp-logo" />
            </div>
          </div>
        </div>
        <!-- End 1 column -->

        <!-- 2 column -->
        <div class="g-start-2" style="grid-row: 1">
          <div class="cell row-cell business-cell" id="cell-2">
            <div class="cell-text">HoReCa</div>
          </div>
        </div>
        <div class="g-start-2" style="grid-row: 2">
          <div class="game-history-board">
            <!-- Game history -->
            <div class="game-history">
              <!-- <div class="h4 text-center text-muted">История игры</div> -->
              <div class="text-start mt-4" id="game_history"></div>
            </div>
            <!-- End game history -->
          </div>
        </div>
        <div class="g-start-2" style="grid-row: 6">
          <div class="cell row-cell business-cell" id="cell-19">
            <div class="cell-text">All</div>
          </div>
        </div>

        <!-- End 2 column -->

        <!-- 3 column -->
        <div class="g-start-3" style="grid-row: 1">
          <div class="cell surprise-cell row-cell" id="cell-3">
            <div class="cell-text">🎁</div>
          </div>
        </div>
        <div class="g-start-3" style="grid-row: 6">
          <div class="cell memory-cell row-cell" id="cell-18">
            <div class="cell-text">🧠</div>
          </div>
        </div>
        <!-- End 3 column -->

        <!-- 4 column -->
        <div class="g-start-4" style="grid-row: 1">
          <div class="cell random-move-cell row-cell" id="cell-4">
            <div class="cell-text">🎲🎲</div>
          </div>
        </div>
        <div class="g-start-4" style="grid-row: 6">
          <div class="cell random-move-cell row-cell" id="cell-17">
            <div class="cell-text">🎲🎲</div>
          </div>
        </div>
        <!-- End 4 column -->

        <!-- 5 column -->
        <div class="g-start-5" style="grid-row: 1">
          <div class="cell memory-cell row-cell" id="cell-5">
            <div class="cell-text">🧠</div>
          </div>
        </div>
        <div class="g-start-5" style="grid-row: 6">
          <div class="cell row-cell business-cell" id="cell-16">
            <div class="cell-text">Science</div>
          </div>
        </div>
        <!-- End 5 column -->

        <!-- 6 column -->
        <div class="g-start-6" style="grid-row: 1">
          <div class="cell row-cell business-cell" id="cell-6">
            <div class="cell-text">Realty</div>
          </div>
        </div>
        <div class="g-start-6" style="grid-row: 6">
          <div class="cell row-cell surprise-cell" id="cell-15">
            <div class="cell-text">🎁</div>
          </div>
        </div>
        <!-- End 6 column -->

        <!-- 7 column -->
        <div class="g-start-7" style="grid-row: 1">
          <div class="cell random-move-cell row-cell" id="cell-7">
            <div class="cell-text">🎲🎲</div>
          </div>
        </div>
        <div class="g-start-7" style="grid-row: 6">
          <div class="cell go-to-start-cell row-cell" id="cell-14">
            <div class="cell-text"><small>go to</small><br />START</div>
          </div>
        </div>
        <!-- End 7 column -->

        <!-- 8 column -->
        <div class="g-start-8" style="grid-row: 1">
          <div class="cell command-surprise-r-cell column-cell" id="cell-8">
            <div class="cell-text">
              <img src="{% static 'game/img/logo1.svg' %}" alt="abp-logo" />
            </div>
          </div>
        </div>
        <div class="g-start-8" style="grid-row: 2">
          <div class="cell surprise-cell column-cell" id="cell-9">
            <div class="cell-text">🎈</div>
          </div>
        </div>
        <div class="g-start-8" style="grid-row: 3">
          <div class="cell column-cell business-cell" id="cell-10">
            <div class="cell-text">All</div>
          </div>
        </div>
        <div class="g-start-8" style="grid-row: 4">
          <div class="cell column-cell memory-cell" id="cell-11">
            <div class="cell-text">🧠</div>
          </div>
        </div>
        <div class="g-start-8" style="grid-row: 5">
          <div class="cell skip-move-cell column-cell" id="cell-12"></div>
        </div>
        <div class="g-start-8" style="grid-row: 6">
          <div class="cell back-to-start-cell column-cell" id="cell-13">
            <div class="cell-text"><small>back to</small><br />START</div>
          </div>
        </div>
        <!-- End 8 column -->
      </div>
    </div>
    <!-- End Game field -->

    <div class="col-2" style="margin-left: 3vh">
      <div class="d-flex flex-column justify-content-center h-100">
        <div class="players-list m-3 mt-4" style="text-align: start">
          <div class="card-title fs-2">Командный бизнес 💵</div>
          <div class="display-5 mt-4" id="command_bank">{{ command_bank }}</div>

          <div>
            <div class="row text-muted mt-4 mb-2">
              <div class="col-6">Игрок</div>
              <div class="col-2">Доля</div>
              <div class="col-4"></div>
            </div>
            <div id="command_players">
              {% for command_player in command_players %}
              <div class="row">
                {% if command_player.command_player.count > 0 %}
                <div class="col-6 h5">
                  {{ command_player.command_player.move__player.name }}
                </div>
                <div class="col-2 h5">
                  {% if command_player.command_player.share == 0 %} 
                    ~1% 
                  {% else %} 
                    {{ command_player.command_player.share }}% 
                  {% endif %}
                </div>
                {% endif %}
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer text-center my-4 mt-4">
    <a class="btn text-muted" type="btn" href="/game_settings/">
      ⚙️ Настройка игры
    </a>
    <a class="btn text-muted" type="btn" href="/finish/">
      Результаты 📜
    </a>
  </footer>
</div>

<script src="{% static 'game/js/dashboard/dice.js' %}"></script>
<script src="{% static 'game/js/dashboard/main.js' %}"></script>
<script src="{% static 'game/js/dashboard/update_command_business.js' %}"></script>
<script src="{% static 'game/js/dashboard/update_game_history.js' %}"></script>
<script src="{% static 'game/js/dashboard/update_players_card.js' %}"></script>
<script src="{% static 'game/js/dashboard/update_players_info.js' %}"></script>

{% endblock %}
