
    <div 
      class="modal fade" 
      id="memoryModal" 
      tabindex="-1" 
      aria-labelledby="memoryModal" 
      aria-hidden="true"
    >

        <div class="modal-dialog modal-dialog-centered">

            <div class="modal-content">

                <div class="modal-header">

                    <h1 class="modal-title fs-5 lead" id="memoryModal">
                      {{ modal.title }}
                    </h1>

                    <button 
                      type="button" 
                      class="btn-close" 
                      data-bs-dismiss="modal" 
                      aria-label="Close"
                    >
                    </button>

                </div>

                <div class="modal-body text-center">

                    <div class="h4">
                      {{ modal.surprise.name }}
                    </div>
        
                </div>


                <div class="modal-footer">

                    <button 
                      type="button" 
                      class="btn btn-danger" 
                      data-bs-dismiss="modal"
                    >
                      Я ответил
                    </button>

                </div>

            </div>

        </div>

    </div>

    <script>
        $(document).ready(function(){
            $("#memoryModal").modal('show');
            window.history.pushState("", "", '/player_control_{{ player.id }}/');
        });
    </script>

