{% extends 'game/base.html' %}
{% load static %}
{% block content %}


    <!-- Preloader to block UI when loading -->
    {% include 'game/preloader.html' %}


    <!-- Player information and Controll Buttons -->
    {% include 'game/player_control_dashboard.html' %}


    <!-- After load check notification modal -->
    {% if modal.type == "surprise" %}     
        {% include 'game/surprise_modal.html' %}   

    {% elif modal.type == "new_level" %}
        {% include 'game/new_level_modal.html' %}

    {% elif modal.type == "memory" %}
        {% include 'game/memory_modal.html' %}

    {% endif %}


    <script 
      src="{% static 'game/js/player_control.js' %}"
    ></script>

{% endblock %}