<div 
  class="modal fade rules-modal" 
  id="rulesModal" 
  tabindex="-1" 
  aria-labelledby="rulesModal" 
  aria-hidden="true"
  data-bs-backdrop="static" 
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 lead" id="rulesModal">
          Правила
        </h1>
      </div>
      <div class="modal-body m-3">
        
        <p class="h5">Если игрок дошел до Финиша:</p>
        <ul class="list-unstyled">
            <ul>
                <li>Получает зарплату (Увеличивается первые 10 лет и падает в последующие годы)</li>
                <li>Платит Налоги (Постоянно и плавно растут)</li>
                <li>Получает доход/убыток от Бизнесов, в которых администратор (Случайная цифра в диапазоне рентабельности)</li>
                <li>Имеет 10% вероятность инфляции личных денег в 2 раза</li>
            </ul>
            </li>
        </ul>

        <p class="">В течении своего Хода, игрок может передать деньги в <b>КБ</b>, увеличив там свою долю. Может проводить операции продажи Бизнеса.</p>
        
        <p class="">Игрок может залазить в кредит, в случае штрафов либо убытков не дольше, чем 3 круга. Если кредит не погашается – Игрок покидает игру.</p>

        <p class="">Игрок <b>X</b> – пассивный игрок, который внес в Командный Бизнес 200 000.</p>

        <p class="">Если игрок дошел до Финиша:</p>

        <p class="">Став на <mark>Зеленое поле</mark>, игрок может стать <b>Администратором</b> бизнеса купив бизнес:</p>
        <ul class="list-unstyled">
            <ul>
            <li>Личное Владение</li>
            <li>Купить в Командный Бизнес</li>
            <ul>
                <li>В одном предложении сформулировать идею бизнеса для голосования другими членами КБ</li>
                <li>Участники Командного Бизнеса большинством голосов утверждают покупку</li>
                <li>Администратор получает 20% от дохода Бизнеса и 100% дохода от своей доли</li>
                <li>Администратор должен возместить ущерб, если Бизнес показал убыточность. Если не гасит – меняется Администратор путем голосования</li>
                <li>Выйти с Командного Бизнеса можно забрав свою долю в течении 3 кругов</li>
            </ul>
            </ul>
        </li>
        </ul>

        <p class="h5">Бизнес:</p>
        <ul class="list-unstyled">
            <ul>
            <li>Год Бизнеса заканчивается, как только Администратор дошел до Бизнеса</li>
            <li>Каждого бизнеса есть свой случайный диапазон рентабельности</li>
            <li>Каждый год, есть 7% вероятности дефолта, 30% от стоимости Бизнеса возвращается собственнику либо в кассу Командного Бизнеса (которая принадлежит собственникам в долях)</li>
            <li>Бизнес можно продать в любой момент за стоимость Покупки</li>
            </ul>
        </li>
        </ul>


        </div>
      <div class="modal-footer">
        <button 
          type="button" 
          class="btn btn-danger" 
          data-bs-dismiss="modal"
        >
          Закрыть
        </button>
      </div>
    </div>
  </div>
</div>
